div.row(ng-controller="DashboardController as dash")
	div.two.columns.friendsList
		ul
			li 
				input.u-full-width.searchBar(placeholder="Search" type="text" ng-model="query")
			li(ng-repeat="friend in dash.friends track by $id(friend) | filter: query")
				img(ng-src="{{friend.avatar ? '/img/'+friend.avatar: '/img/profile.png'}}")
				{{friend.email}}
				//- button.callBtn(ng-click="dash.setFriend(friend._id); dash.call()") Call
	div.ten.columns.mainBody
		header.u-full-width.navbar
			ul#navbar
				li
					button() Add Friend
				li 
					button() Settings
		div.row.u-full-width.topRow
			img#avatar(ng-src="{{friend.avatar ? friend.avatar: '/img/profile.png'}}")
			ul.friendDetails
				li
					h1 Hi, {{dash.email}}
				li
					button(ng-click="dash.call()") Call
				li
					button() Remove
		div.row.u-full-width.bottomRow
			div.six.columns
				video.u-full-width#local(height="400")
			div.six.columns#remotes