div.row(ng-controller="DashboardController as dash")
	div.two.columns.friendsList
		ul
			li 
				input.u-full-width.searchBar(placeholder="Search" type="text" ng-model="query")
			li(ng-dblclick="dash.setFriend(friend._id); dash.call()" ng-click="dash.selectedFriend(friend)" ng-repeat="friend in dash.friends track by $id(friend) | filter: query")
				img(ng-src="{{friend.avatar ? '/img/'+friend.avatar: '/img/profile.png'}}")
				p {{friend.email}}
	div.ten.columns.mainBody
		header.u-full-width.navbar
			ul#navbar
				li
					img(ng-src="/img/addIcon.png")
				li 
					img(ng-click="dash.settings()" ng-src="/img/settingsIcon.png")
				li
					img(ng-src="/img/logoutIcon.png")
		div.row.u-full-width.topRow
			img#avatar(ng-src="{{dash.avatar ? '/img/'+dash.avatar: '/img/profile.png'}}")
			ul.friendDetails
				li
					h1 {{dash.email}}
				li
					button(ng-click="dash.call()") Call
				li
					button Remove
				li
					button(ng-click="dash.endCall()") End Call
		div.row.u-full-width.bottomRow
			div.six.columns
				video.u-full-width#local
			div.six.columns#remotes