section.twelve.columns(ng-controller="DashboardController as dash")
  h1 Dashboard
  h2 Hi, {{dash.email}}
  section.row
    section.four.columns
      input#userSearch(type="text" ng-model="query")
      table.u-full-width
        thead
        tbody
          tr(quick-ng-repeat="friend in dash.friends track by $id(friend) | filter: query")   
            td
              //- TODO Resize the image
              img(ng-src="{{friend.avatar ? friend.avatar : '/img/profile.png'}}")
            //- TODO This logic doesn't work
            //-td {{friend.username ? friend.username : friend.email}}
            td {{friend.email}}
            td
              button(ng-click="dash.setFriend(friend._id); dash.call()") Call
    section.eight.columns
      //- TODO add an ng-show to only show when someone is calling or in a call
      video#local(width="400" height="400")
      //- TODO After a call ends destroy all elements in a container
      div#remotes
      button(ng-click="dash.call()" ) Call
        button(ng-click="dash.stop()") End Call
