div.container
  h1 Intercom
  div.row
    form.six.columns(ng-controller="FormController as form")
      h2 Login
      ul
        li
          input.u-full-width(name="loginEmail" type="email" placeholder="Email" ng-model="user.email" value = "" required autofocus)
          span(ng-show="form.loginEmail.$dirty && form.loginEmail.$error.required") Required!
          span(ng-show="form.loginEmail.$dirty && form.loginEmail.$error.email") Not a vaild email!
        li
          input.u-full-width(name="loginPassword" type="password" placeholder="Password" ng-model="user.password" ng-minlenght="5" ng-maxlength="30" value="" required)
          span(ng-show="form.loginPassword.$dirty && form.loginPassword.$error.required") Required!
          span(ng-show="form.loginPassword.$dirty && form.loginPassword.$error.minlength") Password too short!
          span(ng-show="form.loginPassword.$dirty && form.loginPassword.$error.maxlength") Password too long!
        li
          input(type="submit" class="button" ng-disabled="form.$invalid" ng-click="form.submit(user)" value="Login")
          a(href="#/register") Register here!
    div.six.columns
      h2 About App
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt vitae nemo, ipsa, repellendus consequatur ratione molestias beatae a officiis quisquam libero hic dolor cum eius? Quas id porro, officia ex.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta unde, similique assumenda voluptates cumque tempora in repellendus a molestiae laudantium, odit animi mollitia excepturi ut fugiat aut libero praesentium adipisci.