div.container
  div.row
    form.six.columns(ng-controller="FormController as form")
      h2 Register
      ul
        li
          input.u-full-width(name="registerEmail" type="email" placeholder="Email" ng-model="user.email" required autofocus)
          span(ng-show="form.registerEmail.$dirty && form.registerEmail.$error.required") Required!
          span(ng-show="form.registerEmail.$dirty && form.registerEmail.$error.email") Not a vaild email!
        li
          input.u-full-width(name="registerUsername" type="text" placeholder="Username" ng-model="user.username" ng-minlength="5" required)
          span(ng-show="form.registerUsername.$dirty && form.registerUsername.$error.required") Required!
        li
          input.u-full-width(name="registerPassword" type="password" placeholder="Password" ng-model="user.password" ng-minlength="5" ng-maxlength="30" required)
          span(ng-show="form.registerPassword.$dirty && form.registerPassword.$error.required") Required!
          span(ng-show="form.registerPassword.$dirty && form.registerPassword.$error.minlength") Password too short!
          span(ng-show="form.registerPassword.$dirty && form.registerPassword.$error.maxlength") Password too long!
        li
          input.u-full-width(name="registerConfirm" type="password" placeholder="Confirm Password" ng-model="user.confirm" ng-minlength="5" ng-maxlength="30" required)
          span(ng-show="form.registerConfirm.$dirty && form.registerConfirm.$error.required") Required!
          span(ng-show="form.registerConfirm.$dirty && form.registerConfirm.$error.minlength") Password too short!
          span(ng-show="form.registerConfirm.$dirty && form.registerConfirm.$error.maxlength") Password too long!
        li
          input(type="submit" class="button" value="Register" ng-disabled="form.$invalid" ng-click="form.submit(user)")
          a(href="#/login") Login here!