$mainColour: #3b5169;
$textColour: #fff;

html{
	background-image: url(/img/background.png);
}

body {
	color: white !important;
}

form{
	margin: 1.5rem 0 0 0;
}

ul{
	list-style: none;
}

a{
	margin-left: 40px;
	color: #fff;
}

img{
	margin-left: 10px;
	width: 40px;
	height: 40px;
}

button {
	border: 1px solid $textColour !important;
	color: $textColour !important;
}

input[type="submit"] {
	border: 1px solid $textColour !important;
	color: $textColour !important;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	border: 1px solid $textColour !important;
	background-color: $mainColour !important;
}

::-webkit-input-placeholder {
	color: $textColour !important;
}

video {
	width: 640px;
	height: 480px;
	margin-left: 20px;
	margin-top: 20px;
}

span {
	color: #D94848;
}

h3 {
	text-align: center;
	border-bottom: 1px solid white;
}

#welcomeMessage {
	margin-left: 20px;
}

.logo {
	width: 250px;
	height: 250px;
	margin-left: 35%;
	margin-top: 20px;
}

.login {
	margin: auto;
	text-align: center;
}

.friendsList {
	float: left;
	background-color: #262B2F;
	height: 100vh;
	overflow-y: auto;
}

.friendsList li {
	cursor: pointer;
	margin-top: 10px;
}

.friendsList p {
	float: right;
	text-align: center;
	margin: 10px 10px 10px 10px;
	font-size: 1.2em;
}

.mainBody {
	margin-left: 0;
	width: 86.6666666667% !important;
}

.navbar {
	float: right;
	background-color: #262B2F;
	height: 5vh;
}

.homeButton {
	width: 75px;
	height: 75px;
	margin-top: 15px;
	margin-left: 45%;
	cursor: pointer;
}

#navbar {
	float: right;
	display: inline;
	margin: 10px;
}

#navbar li {
	display: inline;
	cursor: pointer;
}

#navbar img {
	width: 35px;
	height: 35px;
	margin-left: 5px;
}

.searchBar {
	margin: 10px;
	width: 90%;
}

.topRow {
	float: right;
	height: 40vh;
	border-bottom: 1px solid #262B2F;
}

.friendDetails {
	margin-top: 20px;
}

.bottomRow {
	float: right;
	height: 53vh;
}

.callBtn{
	float: right;
	margin-right: 10px;
	padding: 0 20px;
}

#avatar {
	float: left;
	width: 300px;
	height: 300px;
	margin: 20px;
}
.hideme {
	display: none;
}