doctype html
html(ng-app='Intercom')
  head
    link(rel='stylesheet', href='/bower_components/skeleton/css/normalize.css')
    link(rel='stylesheet', href='/bower_components/skeleton/css/skeleton.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container' ng-view)         
  script(src = '/bower_components/angular/angular.min.js')
  script(src = '/bower_components/angular-resource/angular-resource.min.js')
  script(src = '/bower_components/angular-route/angular-route.min.js')
  script(src = '/bower_components/angular-jwt/dist/angular-jwt.min.js')
  script(src = '/Dependencies/quick-ng-repeat.js')
  script(src = '/socket.io/socket.io.js')
  script(src = '//simplewebrtc.com/latest.js')
  script(src = '/javascripts/intercom.js')
